<a href="https://colab.research.google.com/github/sasidhar16133/Raptor/blob/master/controlflowst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Control flow statements

#### x and y is the input and we have find the largest number between the two numbers

In [0]:
x=10;
y=20;
if(x>y):
  print("x is greater");
else:
  print("y is greater");

y is greater

#### Need two number as input if the inputs are then the output should be square of the first number if not teh output must  be multiplication if the two numbers

In [0]:
x=10;
y=10;
if(x==y):
  print(x*x);
else: 
  print(x*y);

100

####Only one number as a input and we looking for whether given number is zero,positive or negative number

In [0]:
x=10;
if(x>0):
  print("+ve");
elif(x<0):
  print("-ve");
elif(x==0):
  print("zero")

+ve

#### Loop Statement--While
Syntax:- 
                   while(condition):
                   Loop statement
                   increment/decrement
                   
                   the loop will get excutes as long as the condition is returns true and it

In [0]:
n=1;
while(n<=10):
  print(n);
  n=n+1;

1
2
3
4
5
6
7
8
9
10

#Example2
####print the numbers from 10 to 1

In [0]:
n=10;
while(n>0):
  print(n);
  n=n-1;

10
9
8
7
6
5
4
3
2
1

#Example 3
####print the numbers from -22 to -45

In [0]:
n=-22;
while(n>-46):
 print(n);
 n=n-1;

-22
-23
-24
-25
-26
-27
-28
-29
-30
-31
-32
-33
-34
-35
-36
-37
-38
-39
-40
-41
-42
-43
-44
-45

#Example 4
####print the sum of even numbers between 1 to 100

In [0]:
x=int(input("enter the lower limit"));
y=int(input("enter the upper limit"));
sum=0;
while(x!=y):
  if(x%2==0):
    sum=sum+x;
  x=x+1;
    
print(sum);

enter the lower limit1
enter the upper limit5
6

#Example 5
#input:
             Number
      
#output:
              Extract the digits of the number from right side direction

In [0]:
import math

x=int(input("Enter a number"));
while(x>0):
  r=x%10;
  x=math.floor(x/10);
  print(r);

Enter a number123
3
2
1

#Example 6
####input:
                    a number
          
         output:
                      you need add the sum of even numbers in a given numbers

In [0]:
n=int(input("Enter a input"));
sum=0;
while(n>0):
  r=n%10;
  n=n//10;
  if(r%2==0):
   sum=sum+r;

print(sum);

Enter a input145
4

#Example 7

##input:
               A number
##output:
               Respective name to digit

In [0]:
n=int(input("Enter a input"));
while(n>0):
  r=n%10;
  n=n//10;
  if(r==1):
    print("one");
  elif(r==2):
    print("two");
  elif(r==3):
    print("three");
  elif(r==4):
    print("four");
  elif(r==5):
    print("five");
  elif(r==6):
    print("six");
  elif(r==7):
    print("seven");
  elif(r==8):
    print("eight");
  elif(r==9):
    print("nine");
  elif(r==0):
    print("zero");

Enter a input145
five
four
one

#Example 8

##input
                Three numbers
##output
                 how many times the digit is repeated between 2nd and 3rd number

In [0]:
n1=int(input("enter a number"));
n2=int(input("enter a number"));
n3=int(input("enter a number"));
count=0;
while(n2<=n3):
  x=n2;
  while(x>0):
    r=x%10;
    x=x//10;
    if(r==n1):
      count=count+1;
          
     
  n2=n2+1;

print(count);

enter a number2
enter a number120
enter a number220
42